.list {
  display: flex;
  flex-direction: column;;
}

.list > li {
  text-align: left;
  padding: 5px 0;
}
.itemList {
  color: var(--links);
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s ease all;
  display: inline-block;
  white-space:pre-wrap;
  max-width: 90vw;
}

.itemList:hover {
  background: var(--item-hover-color);
  transition: 0.4s ease all;
}
