.note {
  background-color: var(--note-background-color);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

.inlineCode {
  display: inline-flex;
}

.inlineCode * {
  border-radius: 3px;
  padding: 0 3px;
  width: 100%;
  height: 100%;
}
